.signin {
	margin-top: 120px;
	padding: 100px 0 150px;
	background-image: url("../images/signin_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	h1 {
	color: #fff;	
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 24px;
	}

}
.signin__card {
	width: 500px;
	margin: 0 auto;
	border-radius: 6px;
	background-color: #f6f5f0;
	box-shadow: 2px 2px 20px rgba( 0,0,0,0.3);
	border-bottom: 1px solid #ddd;
	
}